.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.board button {
  margin: 1px;
  width: 60px;
  height: 60px;
  font-size: 25px;
  border: solid 1px #888;
  background-color: #fff;
}

#damage_selector {
  position: absolute;
  display: none;
}